.footer {
    p {
        font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $primaryWhiteColor;
    }
    .contact {
        display: flex;
        margin-bottom: 9px;
        font-size: 14px;
        line-height: 1.16;
        letter-spacing: 0.03em;    
        color: rgba(255, 255, 255, 0.6);  
        text-decoration: none;  
            &:hover, &:focus {
                color: $accentColor;
            }
    }   
}